.card {
  padding: 2em;
}


.danger-1 {
  background-color: #FFE6E6;
}

.danger-2 {
  background-color: #F7C5C5;
}

.danger-3 {
  background-color: #F09898;
}

.danger-4 {
  background-color: #E47474;
}
